<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="YPq6E6MDsUQDANv9Q1PB/lZAGtb1WjUOKCL+jgqGW8vuecexs7BkcNIhh4QyKHn/CqkP6BimhTZT9R28lUybvbAcUa8ORemWs/l3vW2KFjE=" />
    <add key="MySQLConnectionString" value="uVA+fbJGzOtNqXNvTBDojIqYc3p3RUWdMeU3TaeOu6LuABKTFqg7JaFnXy6puh62eN9hvk4S9b9VH85YHcuAIg=="/>
    
    <add key="SessionTimeOut" value="480"/>
    <add key="tcpChannel" value="8001"/>
    <add key="CommandTimeOut" value="90"/>
    <add key="MessageRepository" value="C:\inetpub\wwwroot\iqcare\IQCareMessage.xml"/>
    <!-- Key for no of days to keep log files-->
    <add key="DaysToKeepLogFile" value="1"/>
    <!-- Key for no of days to run the next clean up activity-->
    <add key="DaysToRunNextTimer" value="7"/>
    <!-- Keys for IQ Tools-->
    <add key="IQToolsConnectionString" value="YPq6E6MDsURaYB9s3Mp/bAcrO2/zjhy/YeBil22WhUMIOLXqEBNio4AZ4KW+RyFUiLcTOjkvwzhc2sPe0obzEhIYiV0sxijkGYruUzvnF5o="/>
    <add key="ServiceName" value="IQCare Service" />
    <add key="IQToolsNextRefreshDateTime" value="2014-04-07 16:10:23" />
    <add key="IQToolsInitializationProcedures" value="bWLWLYlC5Co+hWeby+6n/szF5VkFPPYAMayrd/nHTPYSQc6nMGUYq/BzLeugiHqAP3VubVOy7trkPo73zMUr25AK/XAhzjjWwR44c4/PBDy90a7jZF8gCRSckv3B5GAoxOtLLL21vXcbQOFFsDdMS/WVqiawTmSRddS/o6UCoD+BIjsTa6XcSGikPuzwB/IbLNz5FjAUsgrTE39zzxddUF8iOe5vjBmroYzuOLNqz+wuuwEUrDvpF7vHwDWXifaE9vLXdPx/At2ppD/eZ2WgOsVV8uQblJ9yaYAC0MvWfbTqXCtpVa9BRX62Qc8fAxmJBm5q2g1ZPufEh4zLgSh86N8f9p4fUCHXxHNYJuQGDQCD+rLY3NzLrWme6da/R/17X3tbo0f6vhpqxwsyeB7WDYa7eQkjc5hBH0vIF6zN1GrOmoZkP+qXfUUri4Khp0nUx/bsn7Okvs+oLe3Yf6YuWkO/Xo3UQrT2hsUvMiyibQ3c5aQA2q/Clva7zPQZ4STvrJP5ueb7etZ3ijPXEdPziIZy78fKz0Vf/atCFYVD+VVaJU5CCdCy5g==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AppointmentNextUpdate" value="2014-04-07 16:10:23" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/IQCare3_6_0_" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true" />
      <param name="DatePattern" value="dd.MM.yyyy'_'hhmm'.log'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel type="System.Runtime.Remoting.Channels.Tcp.TcpChannel, System.Runtime.Remoting" ref="Tcp" port="8001"/>
        <clientProviders>
          <formatter type="System.Runtime.Remoting.Channels.BinaryClientFormatterSinkProvider, System.Runtime.Remoting" ref="Binary"/>
        </clientProviders>
        <serverProviders>
          <formatter type="System.Runtime.Remoting.Channels.BinaryClientFormatterSinkProvider, System.Runtime.Remoting" ref="Binary"/>
        </serverProviders>
      </channels>
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>


