<reportCustomConfig>
  <add code="CashierSummary" name="Daily Cashiers Summmary" description="Daily Cashiers revenue Collection" fileName="DailyCashierSummary"  allowedRoles="All"/>
  <add code="CollectionSummary" name="Daily Collection Summmary" description="Daily Collection Summmary" fileName="DailyCollectionSummary"  allowedRoles="All"/>
  <add code="DailyDepartmentalCollection" name="Daily Collection Report" description="Daily Departmental collections" fileName="DailyDepartmentalCollection"  allowedRoles="All"/>
  <add code="SalesSummary" name="Sales Summary" description="Items that have been billed" fileName="BillingSalesSummary"  allowedRoles="All"/>
</reportCustomConfig>
