<?xml version="1.0"?>
  <appSettings>
    <add key="Telerik.Skin" value="MetroTouch"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <add key="TouchAppName" value="Paediatric ART Management Tool" />
    <add key="D9Search" value="false"/>
    <add key="ModuleName" value="KNH"/>
    <add key="ModuleID" value="205"/>
  </appSettings>
